#--------------------------------------------------
# Répertoire : /public/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Page avec numéro de chapitre :
RewriteRule ^([a-zA-Z]+)/([0-9]+)$ index.php?route=$1&id=$2

# Page :
RewriteRule ^([a-zA-Z]+)$ index.php?route=$1

# Index :
RewriteRule ^$ index.php [L]




