<nav class="col-md-2 d-none d-md-block bg-light sidebar pt-3">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active black" href="/admin">
          <i class="fas fa-home"></i>
          Tableau de bord<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link black" href="/admin/posts">
          <i class="far fa-newspaper"></i>
          Articles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link black" href="/admin/comments">
          <i class="fas fa-comments"></i>
          Commentaires
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link black" href="/admin/users">
          <i class="fas fa-users"></i>
          Utilisateurs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link black" href="/admin/social-networks">
          <i class="fas fa-thumbs-up"></i>
          Réseaux sociaux
        </a>
      </li>
    </ul>
  </div>
</nav>
