<form action="/admin/posts/delete" id="form-post-delete" method="post">
  <input type="hidden"
         class="idValue"
         name="id"
         value=""
  >
  <input type="submit"
         class="btn btn-danger"
         form="form-post-delete"
         value="Supprimer"
  >
</form>
