<form action="/admin/social-networks/delete" id="form-social-networks-delete" method="post">
  <input type="hidden"
         class="idValue"
         name="id"
         value=""
  >
  <input type="submit"
         class="btn btn-danger"
         form="form-social-networks-delete"
         value="Supprimer"
  >
</form>
