{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Liste des commentaires</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Comment ID</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Auteur</th>
        <th scope="col">Statut</th>
        <th scope="col">Dernière modification</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Commentaire 1</td>
        <td>Olivier Floch</td>
        <td class="text-success">
          <i class="fas fa-check"></i>
          Approuvé
        </td>
        <td>10/01/2020 à 15:00</td>
        <td>
          <a href="/admin/comments/1" class="btn btn-edit">
            <i class="fas fa-eye"></i>
            Voir
          </a>
          <a href="/admin/comments/edit/1" class="btn btn-edit">
            <i class="fas fa-edit"></i>
            Éditer</a>
          <a href="/admin/comments/delete/1" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Supprimer</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Commentaire 2</td>
        <td>Olivier Floch</td>
        <td class="text-warning">
          <i class="fas fa-clock"></i>
          En attente de modération
        </td>
        <td>10/01/2020 à 16:30</td>
        <td>
          <a href="/admin/comments/2" class="btn btn-edit">
            <i class="fas fa-eye"></i>
            Voir
          </a>
          <a href="/admin/comments/edit/2" class="btn btn-edit">
            <i class="fas fa-edit"></i>
            Éditer</a>
          <a href="/admin/comments/delete/2" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Supprimer</a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Commentaire 3</td>
        <td>Olivier Floch</td>
        <td class="text-danger">
          <i class="fas fa-times"></i>
          Refusé
        </td>
        <td>10/01/2020 à 17:00</td>
        <td>
          <a href="/admin/comments/3" class="btn btn-edit">
            <i class="fas fa-eye"></i>
            Voir
          </a>
          <a href="/admin/comments/edit/3" class="btn btn-edit">
            <i class="fas fa-edit"></i>
            Éditer</a>
          <a href="/admin/comments/delete/3" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
