{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tableau de bord</h1>
  </div>
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card px-3 py-3 h-100">
        <div class="card-body">
          <h4 class="card-title">Derniers articles publiés</h4>
          <hr class="separator-blue-left mb-4">
          <ul>
            <li>
              <h5>Article 1</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex laudantium mollitia.</p>
              <a href="/admin/posts/edit/1" class="black btn btn-sm btn-edit">
                <i class="fas fa-edit"></i>
                Modifier</a>
              <a href="/admin/posts/delete/3" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Supprimer</a>
            </li>
            <li>
              <h5>Article 2</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laudantium reprehenderit
                similique!</p>
              <a href="/admin/posts/edit/2" class="black btn btn-sm btn-edit">
                <i class="fas fa-edit"></i>
                Modifier</a>
              <a href="/admin/posts/delete/3" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Supprimer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card px-3 py-3 h-100">
        <div class="card-body">
          <h4 class="card-title">Derniers commentaires publiés</h4>
          <hr class="separator-blue-left mb-4">
          <ul>
            <li>
              <h5>Dans article 2</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nesciunt.</p>
              <a href="/admin/comments/edit/1" class="black btn btn-sm btn-edit">
                <i class="fas fa-edit"></i>
                Modérer</a>
              <a href="/admin/comments/delete/1" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Supprimer</a>
            </li>
            <li>
              <h5>Dans article 1</h5>
              <p>Lorem ipsum dolor.</p>
              <a href="/admin/comments/edit/2" class="black btn btn-sm btn-edit">
                <i class="fas fa-edit"></i>
                Modérer</a>
              <a href="/admin/comments/delete/2" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Supprimer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card px-3 py-3 mb-5 h-100">
        <div class="card-body">
          <h4 class="card-title">Utilisateurs</h4>
          <hr class="separator-blue-left mb-4">
          <div class="row">
            {% for user in users %}
              <div class="col-6 col-md-3 mb-3">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="{% if user.role == 'admin' %}text-success{% else %}text-primary{% endif %}"><i
                          class="fas {% if user.role == 'admin' %}fa-user-shield{% else %}fa-user{% endif %}"></i>&nbsp;{{ user.role|capitalize }}
                </p>
                <a href="/admin/users/edit/{{ user.id }}" class="black btn btn-sm btn-edit">
                  <i class="fas fa-edit"></i>
                  Modifier</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
