{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    {% if messages is not empty %}
      {% for message in messages %}
        <h2 class="mt-5">{{ message }}</h2>
      {% endfor %}
      <a class="btn btn-primary mt-5" href="/admin/posts">Retour aux articles</a>
    {% endif %}
    <section class="my-5">
      <form id="form-post-create"
            method="post"
            action="/admin/posts/create"
            enctype="multipart/form-data"
      >
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="title">Titre</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   placeholder="Titre du post"
                   name="title"
                   required
            >
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="content">Contenu</label>
          <textarea class="form-control"
                    id="content"
                    name="content"
                    rows="8"
                    cols="50"
                    placeholder="Contenu de l'article"
                    required
          ></textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="custom-file">
              <input type="hidden"
                     name="max_file_size"
                     value="16777220"
              >
              <input type="file"
                     class="custom-file-input"
                     id="file"
                     name="file"
                     accept="image/*"
              >
              <label class="custom-file-label" for="file">Téléverser une image de couverture</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-around justify-content-md-end my-5">
          <a href="/admin/posts" class="btn btn-danger mr-md-3 mb-4">
            <i class="fas fa-times"></i>
            Annuler
          </a>
          <button type="submit" class="btn btn-success mb-4" form="form-post-create">
            <i class="fas fa-check"></i>
            Valider
          </button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}
