{% extends 'base.html.twig' %}

{% block body %}
  <div class="hero-img error">
    <div class="hero-text text-center">
      <h1>Erreur !</h1>
      <hr class="separator-white">
    </div>
  </div>
  <div class="container pb-3">
    <section class="m-60 text-center">
      <h2>{{ error }}</h2>
      <hr class="separator-blue">
    </section>
  </div>
{% endblock %}
