<div class="my-4">
  <h5>Commenter l'article :</h5>
  <form>
    <div class="form-group">
      <label>
        <textarea class="form-control" rows="3" cols="30"></textarea>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>
</div>
