<footer class="container-fluid">
  <div class="row justify-content-around text-center">
    <nav class="col-sm-4 p-3">
      <h4>Navigation rapide</h4>
      <hr class="separator-white">
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/posts">Articles</a>
        </li>
        {% if session.current_user is defined %}
          {% if session.current_user.base_infos.role == 'admin' %}
            <li>
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          {% endif %}
          <li>
            <a href="/user/logout">Déconnexion</a>
          </li>
        {% else %}
          <li>
            <a href="/user/login">Connexion</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <nav class="col-sm-4 p-3">
      <h4>Pages annexes</h4>
      <hr class="separator-white">
      <ul>
        <li>
          <a href="#">Mentions légales</a>
        </li>
        <li>
          <a href="#">Conditions générales d'utilisation</a>
        </li>
        <li>
          <a href="#">Politique de confidentialité</a>
        </li>
        <li>
          <a href="#">Politique de cookies</a>
        </li>
      </ul>
    </nav>
    <nav class="col-sm-4 p-3">
      <h4>Restons connectés</h4>
      <hr class="separator-white">
      <ul class="row justify-content-center mt-4">
        {% for social_network in get_social_networks() %}
          <li class="px-2">
            <a href="{{ social_network.url }}" target="_blank">
              <i class="footer-logo fab {{ social_network.icon_name }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="text-center">
    <p class="copyright">Copyright 2020 - Olivier Floch</p>
  </div>
</footer>
