<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3">
    <a class="navbar-brand ml-4" href="/">Accueil</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navmenu"
            aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item mx-2">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/posts">Articles</a>
        </li>
        {% if session.user.base_infos is defined %}
          {% if session.user.base_infos.role == 'admin' %}
            <li class="nav-item mx-2">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          {% endif %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="/user/logout">Déconnexion</a>
          </li>
        {% else %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="/user/login">Connexion</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
