{% extends 'base.html.twig' %}

{% block body %}
  <div class="hero-img">
    <div class="hero-text text-center">
      <h1>Accès refusé</h1>
      <hr class="separator-white">
    </div>
  </div>
  <div class="container pb-3">
    <section class="m-60 text-center">
      <h2>Vous n'avez pas l'authorisation de voir cette page</h2>
      <hr class="separator-blue">
      <a href="/index" class="btn btn-primary">Retour à l'accueil</a>
    </section>
  </div>
{% endblock %}
