{% extends 'base.html.twig' %}

{% block title %}
  Olivier Floch - Développeur web PHP/Symfony
{% endblock %}

{% block body %}
  <div class="hero-img">
    <div class="hero-text text-center">
      <h1>Olivier Floch</h1>
      <hr class="separator-white">
      <h2>Développeur PHP/Symfony</h2>
    </div>
  </div>
  <div class="container">
    <section class="m-60 text-center">
      <h2>À propos</h2>
      <hr class="separator-blue">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at blanditiis corporis dolore dolores
        excepturi itaque, mollitia odit, optio quaerat quidem reiciendis totam veniam? A, quo, vel. Ab
        accusantium adipisci asperiores cumque debitis dolorum ea earum et eveniet, id in iure magnam minima
        nihil praesentium quam quas quo reiciendis sint suscipit temporibus ut vitae. Alias at doloribus
        esse
        exercitationem illo ipsam nisi provident quos rerum. Dicta id natus recusandae sed.</p>
    </section>
    <section class="m-60 text-center">
      <h2>Les dernières news</h2>
      <hr class="separator-blue">
      <div class="row justify-content-between">
        <article class="col-lg-4 col-md-6 p-3 mb-3 articles">
          <a href="/posts/1">
            <img class="img-fluid img-news" src="img/andy-holmes-webyw4NsFPg-unsplash.jpg" alt="Actualité 1">
            <div class="hero-text bg-orange p-4">
              <h3>Post 1</h3>
              <p>Lire plus</p>
            </div>
          </a>
        </article>
        <article class="col-lg-4 col-md-6 p-3 mb-3 articles">
          <a href="/posts/2">
            <img class="img-fluid img-news" src="img/christopher-gower-m_HRfLhgABo-unsplash.jpg" alt="Actualité 2">
            <div class="hero-text bg-orange p-4">
              <h3>Post 2</h3>
              <p>Lire plus</p>
            </div>
          </a>
        </article>
        <article class="col-lg-4 col-md-6 p-3 mb-3 articles">
          <a href="/posts/3">
            <img class="img-fluid img-news" src="img/emile-perron-xrVDYZRGdw4-unsplash.jpg" alt="Actualité 3">
            <div class="hero-text bg-orange p-4">
              <h3>Post 3</h3>
              <p>Lire plus</p>
            </div>
          </a>
        </article>
      </div>
    </section>
    <section class="my-5 text-center row justify-content-center align-items-center">
      <div class="col-lg-6">
        <h2>Formulaire de contact</h2>
        <hr class="separator-blue">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aut dolor ea eius excepturi
          exercitationem illo molestias quos soluta.</p>
        <form class="mb-5" action="#" method="post">
          <div class="form-group">
            <label class="col-form-label sr-only" for="first-name">Nom</label>
            <input type="text" class="form-control" id="first-name" placeholder="Nom">
          </div>
          <div class="form-group">
            <label class="col-form-label sr-only" for="last-name">Prénom</label>
            <input type="text" class="form-control" id="last-name" placeholder="Prénom">
          </div>
          <div class="form-group">
            <label class="col-form-label sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="col-form-label sr-only" for="subject">Objet</label>
            <input type="text" class="form-control" id="subject" placeholder="Objet">
          </div>
          <div class="form-group">
            <label class="col-form-label sr-only" for="message">Message</label>
            <textarea class="form-control" id="message" placeholder="Votre message..." rows="6"></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Envoyer</button>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-2 text-center">
        <div class="card card-dotted-border">
          <div class="card-body">
            <h3>Télécharger le CV</h3>
            <hr class="separator-blue">
            <a href="#" class="black">download</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
