{% extends 'base.html.twig' %}

{% block title %}
  Inscription / Connexion
{% endblock %}

{% block body %}
  <div class="hero-img">
    <div class="hero-text text-center">
      <h1>Inscription / Connexion</h1>
      <hr class="separator-white">
    </div>
  </div>
  <div class="container">
    <section class="m-60 text-center">
      <hr class="separator-orange">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at blanditiis corporis dolore dolores
        excepturi itaque, mollitia odit, optio quaerat quidem reiciendis totam veniam? A, quo, vel. Ab
        accusantium adipisci asperiores cumque debitis dolorum ea earum et eveniet, id in iure magnam minima
        nihil praesentium quam quas quo reiciendis sint suscipit temporibus ut vitae. Alias at doloribus
        esse
        exercitationem illo ipsam nisi provident quos rerum. Dicta id natus recusandae sed.</p>
    </section>
  </div>
{% endblock %}
